---
---

@import "{{ site.theme }}";

@mixin background-mirror(
  $position: 0%,
  $size: auto,
  $axis: horizontal 
)

header h1, h2, h3 {
  color: #4dfefd !important;
}

header {
  background-image: url('banner.jpg');
  @include background-mirror(50%, cover);
}

.banner {
  background-color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  width: auto;
}
