---
---

@import "{{ site.theme }}";

.inner {
  max-width: 800px;
}

#header_wrap {
  background-image: url('banner.jpg');
  min-height: 250px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

#header_wrap .inner {
  padding: 50px 10px 80px 10px;
}

#project_title {
  font-family: 'Misfits', sans-serif;
}
