---
---

@import "{{ site.theme }}";

header h1, h2, h3 {
  color: #4dfefd !important;
}

.banner {
  background-image: url(banner.png);
  background-repeat: repeat-y;
  background-position: top left;
}
